<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../public/main.css">
    <title>HangMan</title>
  </head>
  <body>
    <h1>Mystery Word</h1>
    <div class="container">
      {{{yield}}}
    </div>
  </body>
</html>
