<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../public/main.css">
    <title>HangMan</title>
  </head>
  <body>
    <h1>Mystery Word</h1>
      <span>You have left.</span>
      {{{yield}}}
    <form class="" action="/" method="post">
      <input type="text" name="letter" placeholder="Letter">
      <button type="submit" name="button">Make A Guess</button>
    </form>
    <h4>Letters Guessed: </h4>
  </body>
</html>
